.forgotPassBtnText {
	color: var(--mantine-color-brandPrimary-4);
	text-decoration-line: underline;
	font-size: var(--mantine-font-size-sm);
}

.titleStyle {
	color: var(--mantine-color-brandPrimary-4);
	text-align: center;
	font-size: var(--mantine-font-size-sm);
	font-weight: var(--mantine-font-weight-bold);
}

.descriptionStyle {
	text-align: center;
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-gray-6);
}

.stepContainer {
	display: flex;
	margin-right: var(--mantine-spacing-md);
	margin-left: var(--mantine-spacing-md);
}

.stepNumberContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: var(--mantine-spacing-md);
}

.stepNumber {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--mantine-color-white);
	background: var(--mantine-color-brandPrimary-4);
	border-radius: 100%;
	aspect-ratio: 1;
	font-weight: var(--mantine-font-weight-bold);
}

.stepVerticalLine {
	width: var(--mantine-widths-px);
	flex-grow: 1;
	background: var(--mantine-color-dimmed-0);
}

.stepTitle {
	color: var(--mantine-color-brandPrimary-4);
	font-weight: var(--mantine-font-weight-bold);
	font-size: var(--mantine-font-size-sm);
}

.stepDescription {
	margin-top: var(--mantine-spacing-xs);
	color: var(--mantine-color-gray-6);
	font-size: var(--mantine-font-size-xs);
	font-weight: var(--mantine-font-weight-medium);
}
