.container {
    width: 50%;
    height: 400px;
    border: 1px solid var(--mantine-color-gray-3);
    border-radius: 0.5rem;
    margin-top: 4rem;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--mantine-color-gray-3);
    align-items: center;
    padding: 1rem 1.5rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
}

.listContainer {
    overflow: scroll;
}

.alertItemContainer {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--mantine-color-gray-2);
    flex-direction: row;
    justify-content: space-between;
    &:hover {
        background-color: var(--mantine-color-gray-0);
    }
    cursor: pointer;
}

.alertName {
    font-size: 1rem;
    font-weight: 400;
}

.alertActionsContainer { 
    flex-direction: row;
    gap: 0.8rem;
    color: var(--mantine-color-gray-7);
}

.modalTitle {
	font-size: 1.2rem;
	font-weight: 600;
} 

.fieldTitle {
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
}

.fieldDescription {
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-gray-6);
}

.fieldsContainer {
    border: 1px solid var(--mantine-color-gray-4);
    padding: var(--mantine-spacing-md);
    border-radius: 0.2rem;
}

.infoTooltipIcon {
    color: var(--mantine-color-gray-5);
    cursor: pointer;
}

.formBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: #211F1F;
	border: 1px #e9ecef solid;
	padding: 0.625rem 1rem;
	margin-right: 0.625rem;
    border-radius: rem(8px);
    &:hover {
        color: #211F1F;
    }
}

.alertSection {
    border: 1px solid var(--mantine-color-gray-4);
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 0.6rem 0;
}

.targetContainer {
    gap: 8;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--mantine-color-gray-1);
}