.container {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.innerContainer {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.rowContainer {
	border-bottom: 1px solid var(--mantine-color-gray-1);
	padding: 0.25rem 1rem;
	cursor: pointer;

	&:hover {
		background-color: var(--mantine-color-gray-1);
		.copyIcon {
			color: var(--mantine-color-gray-8);
		}
	}

	.copyIcon {
		color: transparent;
	}
}

.itemHeader {
	font-weight: 500;
	/* font-size: 0.65rem; */
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
	word-break: normal;
	word-wrap: break-word;
	font-family: monospace;
}

.itemValue {
	font-weight: 400;
	/* font-size: 0.65rem; */
	color: var(--mantine-color-gray-7);
	word-break: normal;
	word-wrap: break-word;
	font-family: monospace;
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
}

.itemContainer {
	margin-right: 0.2rem;
}
