.container {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.innerContainer {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.rowContainer {
	border-bottom: 1px solid var(--mantine-color-gray-1);
	padding: 0.25rem 1rem;
	cursor: pointer;

	&:hover {
		background-color: var(--mantine-color-gray-1);
		.copyIcon {
			color: var(--mantine-color-gray-8);
		}
	}

	.copyIcon {
		color: transparent;
	}
}

.itemHeader {
	font-weight: 500;
	font-size: 0.65rem;
	word-break: normal;
	word-wrap: break-word;
	font-family: monospace;
}

.itemValue {
	font-weight: 400;
	font-size: 0.65rem;
	color: var(--mantine-color-gray-7);
	word-break: normal;
	word-wrap: break-word;
	font-family: monospace;
}

.itemContainer {
	margin-right: 0.2rem;
}

.inputField {
	border-radius: rem(8px);
	width: 100%;
}

.headerWrapper {
	height: 50px;
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}
