.col {
	display: flex;
	flex-direction: column;
	width: max-content;
}

.container {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.innerContainer {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.tableContainer {
	position: relative;
}

.pinnedTableContainer {
	overflow: unset !important;
}

.pinnedScrollView {
	overflow: unset !important;
}

.tableStyle {
	white-space: nowrap;
	overflow: scroll;
	padding: 0;
	width: 100%;
}

.theadStyle {
	position: sticky;
	background-color: #fff;
	top: 0;
	z-index: 2;
}

.liveTheadStyle {
	position: sticky;
	background-color: #fff;
	top: 0;
}

.theadStylePinned {
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 2;
}

.trStyle {
	background-color: #fff;
	&:hover {
		background-color: #f1f3f5;
	}
	z-index: 2;
	border-top: 'none !important';

	td {
		border-top: none !important;
		padding: 0.5rem 1rem;
		font-size: 0.6rem;
	}
}

.trEvenStyle {
	cursor: pointer;
	background-color: #f8f9fa;
	&:hover {
		background-color: #f1f3f5;
	}
	z-index: 2;
	border-color: #ff0000;
	td {
		border-top: none !important;
		padding: 0.5rem 1rem;
		font-size: 0.6rem;
	}
}

.tdArrowContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tdArrow {
	position: sticky;
	right: 0;
	background: inherit;
	box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0 0.625rem 0.9375rem -0.3125rem,
		rgba(0, 0, 0, 0.04) 0 0.4375rem 0.4375rem -0.3125rem;
	tr:hover & {
		background-color: #f1f3f5;
	}
}

.thColumnMenuBtn {
	width: 0.75rem;
	height: 0.75rem;
}

.thColumnMenuResetBtn {
	margin: 0.75rem;
}

.thColumnMenuDropdown {
	/* max-height: 2rem; */
	overflow-x: hidden;
	overflow-y: scroll;
}

.thColumnMenuDragHandle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #868e96;
	padding-right: 1rem;
}

.thColumnMenuDraggable {
	display: flex;
}

.footerContainer {
	padding: 0.6rem 1rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.errorContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.limitActive {
	background: #1a237e;
	font-weight: 700;
	color: #fff;
	&:hover {
		background-color: #1a237e;
	}
}

.limitOption {
	font-weight: 400;
	&:hover {
		color: #1a237e;
	}
}

.limitBtn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 0.6rem;
	background: white;
	padding: 0.4rem 0.625rem;
	border: 1px solid var(--mantine-color-gray-2);
	border-radius: 0.425rem;
	&:hover {
		background: #e0e0e0;
	}
}

.limitBtnText {
	font-size: 0.65rem;
}

.trackStyle {
	background-color: #545beb;
}

.modalTitle {
	font-size: 1.2rem;
	font-weight: 600;
}

.fieldTitle {
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
}

.fieldDescription {
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-gray-6);
}

.fieldsContainer {
	border: 1px solid var(--mantine-color-gray-4);
	padding: var(--mantine-spacing-md);
	border-radius: 0.2rem;
}

.alertSection {
	border: 1px solid var(--mantine-color-gray-4);
	border-radius: 0.2rem;
	padding: 1rem;
	margin: 0.6rem 0;
}

.targetContainer {
	gap: 8;
	background-color: red;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--mantine-color-gray-1);
}

.formBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: #211f1f;
	border: 1px #e9ecef solid;
	padding: 0.625rem 1rem;
	margin-right: 0.625rem;
	border-radius: rem(8px);
	&:hover {
		color: #211f1f;
	}
}

.infoTooltipIcon {
	color: var(--mantine-color-gray-5);
	cursor: pointer;
}

.copyIcon {
	color: #211f1f;
}
.copyIcon:hover {
	background-color: #f1f3f5;
}

.customCell {
	position: relative;

	&:hover {
		.customCellContainer {
			.copyIconContainer {
				display: block;
			}
		}
	}

	.customCellContainer {
		.copyIconContainer {
			position: absolute;
			top: 25%;
			right: 0;
			display: none;
		}
		.actionIconContainer {
			position: absolute;
			top: 25%;
			left: 0;
			cursor: pointer;
			border-radius: 4px;
			background-color: white;
			display: none;
		}
	}
}

.contextMenuContainer {
	position: fixed;
	z-index: 1000;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
