.forgotPassBtnText {
    color: #10143E;
    text-decoration-line: underline;
    font-size: 0.875rem;
}

.titleStyle {
    color: #10143E;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
}

.descriptionStyle {
    text-align: center;
    font-size: 0.875rem;
    color: #868e96;
}

.stepContainer {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
}

.stepNumberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.stepNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #10143E;
    border-radius: 100%;
    aspect-ratio: 1;
    font-weight: 700;
}

.stepVerticalLine {
    width: 1px;
    flex-grow: 1;
    background: #868e96;
}

.stepTitle {
    color: #10143E;
    font-weight: 700;
    font-size: 0.875rem;
}

.stepDescription {
    margin-top: 0.625rem;
    color: #868e96;
    font-size: 0.75rem;
    font-weight: 500;
}
