.container {
	flex: 1;
	overflow-y: auto;
	width: 100%;
	position: relative;
	margin: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--mantine-color-gray-2);
}

.container:first-of-type {
	margin-right: 0;
}

.header {
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--mantine-color-gray-1);
	flex-direction: row;
	padding: 1rem;
}

.createBtn {
	height: 34px;
	padding: 0 15px;
	margin-inline-end: 0.625rem;
	color: #777777;
	border-color: #828282;
}

.createBtn:disabled,
.createBtn:disabled:hover {
	background-color: var(--mantine-color-gray-4);
	color: white;
}

.tableStyle {
	overflow: scroll;
	width: 100%;
	height: 100%;
	padding: 0;
}

.theadStyle {
	position: sticky;
	z-index: 1;
	top: 0;
	height: 50px;
	background-color: white;
	text-align: left;
}

.theadStyle tr th {
	padding: 0.625rem;
}

.trStyle:nth-child(odd) {
	background-color: #ececec80;
}

.trStyle td {
	height: 100%;
	vertical-align: middle;
	padding: 0.625rem;
}

.passwordPrims .mantine-Tooltip-tooltip {
	background-color: #757575;
	color: #ffffff;
}

.passwordPrims .mantine-Prism-code {
	background-color: white !important;
	border: 1px solid #e0e0e0 !important;
}

.modalStyle .mantine-Paper-root {
	overflow-y: inherit;
}

.modalStyle .mantine-Modal-header {
	border-radius: 8px 8px 0px 0px;
	background-color: #f5f5f5;
}

.modalStyle .mantine-Modal-title {
	font-weight: bold;
}

.modalStyle .mantine-Modal-body {
	padding-top: 1rem !important;
}

.passwordText {
	font-weight: 500;
	font-size: 0.875rem;
}

.modalCancelBtn {
	border-color: #ced4da;
	color: #000000;
}

.modalActionBtn {
	background-color: #545beb;
	color: white;
}

.modalActionBtn:disabled,
.modalActionBtn:disabled:hover {
	background-color: var(--mantine-color-gray-4);
	color: white;
}

.actionBtn {
	height: 24px;
	width: 24px;
	padding: 0;
	margin-inline-end: 0.625rem;
	color: #777777;
	border-color: #828282;
}

.actionBtn:hover {
	color: #545beb;
}

.createUserBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	background-color: white;
	color: #211f1f;
	border: 1px #e9ecef solid;
	margin-right: 0.625rem;
	border-radius: rem(8px);
	&:hover {
		background-color: var(--mantine-color-gray-0);
		color: #211f1f;
	}
}

.tableHeader {
	font-weight: 600;
}

.inputField {
	border-radius: rem(8px);
}

.selectDescription {
	font-size: 12px;
	font-weight: 500;
	color: var(--mantine-color-gray-6);
}

.selectInput {
	cursor: pointer;
	border: 1px var(--mantine-color-gray-2) solid;
	border-radius: rem(8px);
}
