.container {
    flex: 1;
    gap: 1rem;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.menuItemContainer {
    cursor: pointer;
}

.activeMenuItem {
    padding: 4px;
    background-color: var(--mantine-color-gray-1);
    border-radius: 0.2rem;
}

.menuIconContainer {
    background-color: transparent;
}

.menuLabel {
    font-size: 0.7rem;
    font-weight: 500;
    padding-right: 4px;
}

.streamDropdownContainer {
    /* margin-top: 0.5rem; */
    /* padding: 0 1.25rem; */
    position: relative;
}

.sideBarToggleContainer {
    position: absolute; 
    left: 93%;
    top: 30%;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.sideBarToggleIconContainer {
    padding: 2rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--mantine-color-gray-2);
    cursor: pointer;
}

.icon {
    color: var(--mantine-color-gray-6);
}