.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.innerContainer {
	display: flex;
	height: 100%;
	align-items: center;
	width: 100%;
}

.refreshNowBtn {
	background: #fff;
	padding: 0;
	width: 36px;
	color: #211f1f;
	border: 1px #e9ecef solid;
	border-radius: rem(8px);

	&:hover {
		color: black;
	}
}

.refreshNowBtn:hover {
	background-color: #e0e0e0;
}

.streamButton {
	background: #fff;
	color: #211f1f;
	border: 1px #e9ecef solid;
	border-radius: rem(8px);
}

.intervalbtn {
	background-color: white;
	color: var(--mantine-color-gray-7);
	border: 1px #e9ecef solid;
	border-radius: rem(8px);
	font-size: 0.65rem;

	&:hover {
		color: black;
	}
}

.intervalbtn:hover {
	background-color: #e0e0e0;
}

.streamSelect {
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
}

.homeIcon {
	size: 24px;
}

.timeRangeContainer {
	display: flex;
}

.fixedRangeContainer {
	display: flex;
	flex-direction: column;
	background: #f8f9fa;
	margin-left: 0.5rem;
	border-radius: 0.25rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	overflow: hidden;
}

.fixedRangeBtn {
	padding: 0.65rem;
	font-size: 0.675rem;
	background: #f8f9fa;
	text-transform: capitalize;
	cursor: pointer;
	border-radius: 0.65rem;

	&:hover {
		/* color: black !important; */

		&:disabled {
			color: white !important;
		}
	}
}

.fixedRangeBtn:hover {
	background: #ced4da;
}

.fixedRangeBtn:disabled {
	cursor: not-allowed;
	background: #424242;
	font-weight: 600;
	color: #fff;
}

.customRangeContainer {
	padding: 0.625rem 1rem;
	min-width: 20rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.customTimeRangeFooter {
	display: flex;
	margin-top: auto;
	justify-content: flex-end;
	align-items: center;
}

.searchContainer {
	display: flex;
	padding-right: 0.75rem;
}

.searchTypeBtn {
	border: 1px #f1f3f5 solid;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background: #545beb;
	color: #fff;
	border-right: none;
	font-weight: 700;
	padding-right: 0.75rem;
}

.searchTypeActive {
	background: #545beb;
	font-weight: 500;
	color: #fff;
}

.searchTypeActive:hover {
	background: #fc466b;
}

.searchInput {
	width: 100%;
	flex: 1;
}

.searchInput input {
	background: #fff;
	border: 1px #e9ecef solid;
	border-radius: rem(8px);
	font-weight: 500;
}

.toggleBtn {
	background-color: white;
	padding: 6px 12px;
	margin-right: 0.625rem;
	color: #211f1f;
	border: 1px #e9ecef solid;
}

.toggleBtn:hover {
	background: #f1f3f5;
}

.timeRangeBTn {
	background-color: white;
	color: var(--mantine-color-gray-7);
	padding: 0 0.5rem;
	border-radius: 0;
	border-right: 1px solid var(--mantine-color-gray-2);
	border-left: 1px solid var(--mantine-color-gray-2);
	height: 100%;
}

.timeRangeBTn:hover {
	background-color: #e0e0e0;
	color: black;
}

.dropdownBtn {
	margin-right: 0.625rem;
	border-radius: rem(8px);
}

.dropdownOption {
	color: #211f1f;
	font-size: var(--mantine-font-size-md);
}

.liveTailFilterContainer {
	display: flex;
	gap: 12px;
	margin-right: 20px;
}

.fixedRangeBtnSelected {
	background: #545beb !important;
	font-weight: 500;
	color: white;
}

.fixedRangeBtnSelected:hover {
	background: #f1f3f5;
	cursor: not-allowed;
	color: white;
}

.customTimeRangeApplyBtn {
	background: #545beb;
	color: white;

	&:hover {
		background: #fc466b;
	}
}

.customTimeRangeApplyBtn:disabled {
	background-color: var(--mantine-color-gray-4);
}

.customTimeRangeApplyBtn:disabled:hover {
	background-color: var(--mantine-color-gray-4);
}

.streamSelectDescription {
	font-size: 12px;
	font-weight: 500;
	color: var(--mantine-color-gray-6);
}

.streamInput {
	cursor: pointer;
	border: 1px var(--mantine-color-gray-2) solid;
	border-radius: rem(8px);
}

.chevronDown {
	color: var(--mantine-color-gray-9);
}

.iconBtn {
	cursor: pointer;
	align-items: center;
	/* padding: 0.25rem; */
	border-radius: 0.25rem;
	/* padding: 0.25rem 0; */
}

.iconBtnIcon {
	color: var(--mantine-color-brandPrimary-6);
	/* color: white;
	background-color: var(--mantine-color-brandPrimary-4); */
	border-radius: 0.25rem;
	/* padding: 0.25rem; */
}

.iconBtnLabel {
	font-size: 0.8rem;
	white-space: nowrap;
}

.modeContainer {
	width: 5rem;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-right: 1px solid var(--mantine-color-gray-4);
}

.modeLabel {
	/* color: white; */
	font-weight: 600;
}

.modeButton {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	width: 6rem;
	border-top: none !important;
	border-left: none !important;
	border-bottom: none !important;
}

.placeholderText {
	color: var(--mantine-color-gray-5);
	font-size: 1rem;
	font-weight: 500;
}

.timeRangeBtnContainer {
	flex-direction: row;
	gap: 0;
	border: 1px solid var(--mantine-color-gray-3);
	overflow: hidden;
	border-radius: rem(8px);
	align-items: center;
	height: 1.6rem;
}

.timeRangeCtrlIcon {
	height: 100%;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: #e0e0e0;
		color: black;
	}

	padding: 0 0.25rem;
	color: var(--mantine-color-gray-7);
	cursor: pointer;
}

.shiftIntervalContainer {
	flex-direction: row;
	margin-top: 0.5rem;
	justify-content: space-between;
	align-items: center;
}

.shiftIntervalLabel {
	font-size: 0.7rem;
	font-weight: 500;
	text-align: center;
}

.datePickerContainer {
	border: 1px solid var(--mantine-color-gray-2);
	border-radius: 0.2rem;
	padding: 1rem;
}

.calendarDate {
	width: 1.2rem;
	height: 1.2rem;
	align-items: center;
	justify-content: center;
	display: flex;
}

.highlightDate {
	background-color: var(--mantine-color-gray-5);
	color: white;
	border-radius: 0.15rem;
}
