.rulesContainer {
	padding: 2rem;
	justify-content: space-around;
	/* align-items: center; */
	border: 2px solid var(--mantine-color-brandPrimary-1);
	border-radius: 0.8rem;
	flex-direction: row;
}

.filterContainer {
	padding-left: 0.6rem;
	background-color: white;
	color: #211f1f;
	cursor: pointer;
	flex: 1;
	flex-direction: row;
	overflow-y: hidden;
	align-items: center;
}

.container {
	background-color: white;
	color: #211f1f;
	border: 1px var(--mantine-color-gray-2) solid;
	border-radius: rem(8px);
	cursor: pointer;
	flex: 1;
	overflow-y: hidden;
	flex-direction: row;
}

.modeContainer {
	width: 5rem;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-right: 1px solid var(--mantine-color-gray-4);
}

.modeLabel {
	/* color: white; */
	font-weight: 600;
}

.modeButton {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	width: 6rem;
	border-top: none !important;
	border-left: none !important;
	border-bottom: none !important;
	margin: 0px !important;
	&:hover {
		color: black;
	}
}

.placeholderText {
	color: var(--mantine-color-gray-5);
	font-size: 1rem;
	font-weight: 500;
}

.addRuleContainer {
	border: rem(2px) solid var(--mantine-color-gray-3);
	height: 6rem;
	width: 100%;
	border-style: dashed;
	border-spacing: 400px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: rem(6px);
	color: var(--mantine-primary-color-3);
	font-weight: 400;
}

.ruleSet {
	border-radius: rem(6px);
	padding: 1rem;
	width: 100%;
	background-color: var(--mantine-color-gray-1);
}

.toggleBtnContainer {
	flex-direction: row;
	border: 1px solid black;
	width: fit-content;
	border-radius: rem(6px);
	background-color: white;
	border-color: transparent;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	align-self: flex-end;
}

.toggleBtnText {
	padding: 0.2rem 0.6rem;
	border-radius: rem(6px);
	font-weight: 500;
	font-size: small;
	&.toggleBtnActive {
		background-color: var(--mantine-primary-color-4) !important;
		color: white;
	}
}

.ruleContainer {
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.deleteRulebtn {
	cursor: pointer;
}

.addConditionBtn {
	width: fit-content;
	/* font-size: small; */
}

.parentCombinatorToggleContainer {
	width: fit-content;
	background-color: var(--mantine-color-gray-2);
	border-radius: rem(6px);
	position: 'relative';
	margin-left: 16px;
	border: 1px solid var(--mantine-color-gray-4);
	padding: 0.2rem;
}

.ruleSetConnector {
	width: 0;
	height: 100%;
	margin-left: 60px;
	border: 1px solid var(--mantine-color-brandPrimary-1);
}

.modalHeader {
	font-weight: 500;
	font-size: large;
	margin-bottom: 1rem;
}

.queryBuilderBtn {
	background-color: white;
	padding: 4px 12px;
	color: #211f1f;
	border: 1px var(--mantine-color-gray-4) solid;
	border-radius: rem(8px);
	cursor: pointer;
	height: 2.2rem;
	overflow: auto;
	flex: 1;
	margin-right: 0.625rem;
}

.parentCombinatorPill {
	color: white;
	background: var(--mantine-color-teal-4);
	text-transform: uppercase;
	font-weight: 700;
}

.childCombinatorPill {
	color: white;
	background: var(--mantine-color-indigo-4);
	text-transform: uppercase;
	font-weight: 700;
}

.footer {
	flex-direction: row;
	justify-content: flex-end;
	padding: 1.5rem;
	padding-right: 0rem;
	padding-top: 0.75rem;
	padding-bottom: 0;
}

.queryBuilderContainer {
	border-top-left-radius: rem(6px);
	border-top-right-radius: rem(6px);
	/* border-bottom: 1px solid var(--mantine-color-gray-3); */
}

.queryBuilderBtnPlaceholder {
	color: var(--mantine-color-gray-5);
	font-size: 1rem;
	font-weight: 500;
}

.tabsList {
	background: var(--mantine-color-gray-1);
	border-radius: 0.2rem;
}

.tab:hover {
	background: var(--mantine-color-gray-1);
}

.selectDescription {
	font-size: 12px;
	font-weight: 500;
	color: var(--mantine-color-gray-6);
}

.selectInput {
	cursor: pointer;
	border: 1px var(--mantine-color-gray-2) solid;
	border-radius: rem(8px);
}

.label {
	color: var(--mantine-color-brandPrimary-4);
}
