/* {

    runQueryBtn: {
        color: pColor,
        borderColor: colors.gray[2],
        height: '34px',
        width: '34px',
        padding: '0px',
        '&:hover': {
            color: sColor,
        },
        marginInlineEnd: spacing.xs,
    },
    actionBtn: {
        '&:hover': {
            color: sColor,
        },
        height: '34px',
        width: '34px',
        padding: '0px',
        marginInlineEnd: spacing.xs,
        color: colors.gray[5],
        borderColor: colors.gray[2],
    },
    textContext: {
        marginRight: spacing.md,
        fontSize: fontSizes.md,
        fontFamily: fontFamily,
        fontWeight: fontWeights.semibold,
    },
} */

.container {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
}

/* container: {
    flex: 1,
    display: 'flex',
    position: 'relative',
    maxHeight: `calc(${heights.screen} - ${HEADER_HEIGHT * 2}px)`,
},
innerContainer: {
    position: 'relative',
    flex: 1,
    maxHeight: `calc(${heights.screen} - ${HEADER_HEIGHT * 2}px)`,
    display: 'flex',
    flexDirection: 'column',
    overflow: 'hidden',
},
runQueryBtn: {
    background: pColor,
    color: 'white',
    height: '40px',
    marginRight: '5px',
    '&:hover': {
        background: sColor,
    },
},
actionBtn: {
    '&:hover': {
        color: sColor,
    },
    height: '25px',
    marginRight: '5px',
},
schemaContainer: {
    border: `${widths.px} ${colors.gray[1]} solid`,
    boxShadow: shadows.sm,
    maxWidth: '500px',
},
}; */

.schemaContainer {
	border: 1px solid #e0e0e0;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	max-width: 500px;
}

.HeaderContainer {
	display: flex;
	height: 55px;
	align-items: center;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
	border-bottom: solid 1px var(--mantine-color-gray-4);
}

.innercontainer {
	display: flex;
	flex-direction: column;
}

.HeaderContainerRight {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	gap: var(--mantine-spacing-md);
}

.tableWrapper {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	overflow: auto;
	white-space: nowrap;
    height: calc(100% - 60px);
}
