.noDashboardsContainer {
	/* border: 1px solid var(--mantine-color-gray-1); */
	flex: 1;
	margin: 4rem;
	border-radius: 0.25rem;
	align-items: center;
	justify-content: center;
	padding: 0 20rem;
}

.dashboardIconContainer {
	width: fit-content;
	background-color: var(--mantine-color-brandPrimary-0);
	border-radius: 50%;
	padding: 0.5rem;
	align-self: center;
}

.tilesViewContainer {
	margin-bottom: 1rem;
}

.dashboardIcon {
	color: var(--mantine-color-brandPrimary-4);
}

.noDashboardsViewTitle {
	font-weight: 500;
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
	text-align: center;
}

.noDashboardsViewDescription {
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
	text-align: center;
}
