.container {
    border-right: 1px solid var(--mantine-color-gray-1);
}

.dashboardItem {
    cursor: pointer;
    border: 1px solid var(--mantine-color-gray-1);
    border-radius: 0.2rem;
    padding: 0.4rem 1rem;
    margin: 0 0.7rem;
    margin-top: 0;
    &.active {
        background-color: var(--mantine-color-gray-1);
    }
}

.dashboardTitle {
    font-weight: 500;
    font-size: 0.7rem;
}

.tilesCountText {
    font-size: 0.65rem;
    color: var(--mantine-color-gray-7);
}
