.thead {
	th {
		font-weight: 500;
		@media (min-width: 1024px) {
			/* sm: Styles for HD devices */
			font-size: 10px;
		}

		@media (min-width: 1980px) {
			/* md: Styles for FULL HD devices */
			font-size: 12px;
		}

		@media (min-width: 1600px) {
			/* lg: Styles for 2K devices */
			font-size: 14px;
		}

		@media (min-width: 2160px) {
			/* xl: Styles for 4K devices */
			font-size: 18px;
		}

		@media (min-width: 3200px) {
			/* 2xl: Styles for 8K devices */
			font-size: 24px;
		}
		padding: 0.5rem;
		min-width: 5rem;
		max-width: 10rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	tr {
		border-color: var(--mantine-color-gray-1);
	}
}

.tbody {
	tr {
		border-color: var(--mantine-color-gray-1);
	}

	td {
		padding: 0.4rem 0.6rem;
		min-width: 5rem;
		max-width: 10rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@media (min-width: 1024px) {
			/* sm: Styles for HD devices */
			font-size: 10px;
		}

		@media (min-width: 1980px) {
			/* md: Styles for FULL HD devices */
			font-size: 12px;
		}

		@media (min-width: 1600px) {
			/* lg: Styles for 2K devices */
			font-size: 14px;
		}

		@media (min-width: 2160px) {
			/* xl: Styles for 4K devices */
			font-size: 18px;
		}

		@media (min-width: 3200px) {
			/* 2xl: Styles for 8K devices */
			font-size: 24px;
		}
	}
}

.warningText {
	color: var(--mantine-color-gray-5);
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
}

.warningIcon {
	color: var(--mantine-color-gray-5);
}
