.container {
	transition: none;
	border: 1px solid var(--mantine-color-gray-2);
	height: 100%;
	border-radius: 0.4rem;
	overflow: hidden;
}

.tileHeader {
	padding: 0.6rem 0.9rem;
	border-bottom: 1px solid var(--mantine-color-gray-2);
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 3.4rem;
}

.tileTitle {
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
	font-weight: 500;
	flex: 1;
}

.tileDescription {
	color: var(--mantine-color-gray-6);
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
}

.tileContainer {
	flex: 1;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.warningText {
	color: var(--mantine-color-gray-5);
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
}

.warningIcon {
	color: var(--mantine-color-gray-5);
}

.tileControlIcon {
	color: var(--mantine-color-gray-7);
	cursor: pointer;
}

.tileCtrlItemIcon {
	color: var(--mantine-color-gray-7);
}

.tileCtrlItemText {
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
	color: var(--mantine-color-gray-7);
	font-weight: 500;
}

.tileCtrlLabel {
	color: var(--mantine-color-gray-5);
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
	padding: 0.25rem 0.25rem;
}

.dragIcon {
	color: var(--mantine-color-brandPrimary-3);
}

.tileTimeRangeText {
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
	font-weight: 400;
	color: var(--mantine-color-gray-6);
	display: none;
}
