.aboutTitle {
    font-size: 0.8rem;
    font-weight: 500;
}

.fieldTitle {
    font-size: var(--mantine-font-size-md);
    font-weight: 500;
}

.fieldDescription {
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-gray-6);
}

.fieldsSectionContainer {
    border: 1px solid var(--mantine-color-gray-4);
    padding: var(--mantine-spacing-md);
    padding-bottom: 0;
    border-radius: 0.2rem;
}

.fieldsContainer {
    max-height: 10rem;
    overflow: scroll;
    padding-bottom: var(--mantine-spacing-md);
}

.infoTooltipIcon {
    color: var(--mantine-color-gray-5);
    cursor: pointer;
}