.aboutTitle {
	font-size: var(--mantine-font-size-xl);
	font-weight: 500;
}

.fieldTitle {
	font-size: var(--mantine-font-size-lg);
	font-weight: 500;
}

.fieldDescription {
	font-size: var(--mantine-font-size-md);
	color: var(--mantine-color-gray-6);
}

.fieldsSectionContainer {
	border: 1px solid var(--mantine-color-gray-4);
	padding: var(--mantine-spacing-md);
	padding-bottom: 0;
	border-radius: 0.2rem;
}

.fieldsContainer {
	max-height: 10rem;
	overflow: scroll;
	padding-bottom: var(--mantine-spacing-md);
}

.infoTooltipIcon {
	color: var(--mantine-color-gray-5);
	cursor: pointer;
}

.inputField {
	border-radius: rem(8px);
	font-size: var(--mantine-font-size-lg);
}

.selectDescription {
	font-size: 14px;
	font-weight: 500;
	color: var(--mantine-color-gray-6);
}

.selectInput {
	cursor: pointer;
	border: 1px var(--mantine-color-gray-2) solid;
	border-radius: rem(8px);
	font-size: var(--mantine-font-size-lg);
}
