.container {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
}

.noDataViewContainer {
    height: 100%;
    width: calc(100% - 200px); 
    padding-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.messageStyle {
    margin-top: 1rem;
    color: #D4D4D4;
}

.btnStyle {
    margin-top: 1rem;
    color: #FFFFFF;
	background: #545BEB;
}

.createStreamButton {
    background-color: white;
    color: #211F1F;
    border: 1px #e9ecef solid;
    padding: 0.625rem 0.75rem;
    margin-right: 0.625rem;
    border-radius: rem(8px);
    text-transform: capitalize;

    &:hover {
        background-color: #E0E0E0;
        color: black;
    }
}