.container {
	flex: 1;
	display: flex;
	position: relative;
	flex-direction: column;
}

.noDataViewContainer {
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.messageStyle {
	margin-top: 1rem;
	color: #d4d4d4;
}

.btnStyle {
	margin-top: 1rem;
	color: #ffffff;
	background: #545beb;
}

.createStreamButton {
	background-color: white;
	color: #211f1f;
	border: 1px #e9ecef solid;
	margin-right: 0.625rem;
	border-radius: rem(8px);
	text-transform: capitalize;
	font-size: var(--mantine-font-size-lg);
	height: 1.65rem;
	&:hover {
		background-color: #e0e0e0;
		color: black;
	}
}

.searchBar {
	border-radius: rem(8px);
	font-size: var(--mantine-font-size-lg);
}
