.container {
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.messageStyle {
	margin-top: var(--mantine-spacing-md);
	color: var(--mantine-color-gray-6);
}

