.warningText {
    margin-top: 0.4rem;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--mantine-color-gray-8);
}

.confirmationText {
    font-size: 0.7rem;
    color: var(--mantine-color-gray-7);
}

.confirmationTextHighlight {
    font-weight: 500;
}