.modalBody {
	padding: 0 1rem 1rem 1rem;
	width: 400px;
}

.modalHeader {
	padding: 1rem;
	padding-bottom: 0.4rem;
}

.headerText {
	font-weight: 600;
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
}

.warningText {
	margin-top: 0.4rem;
	font-weight: 500;
	color: var(--mantine-color-gray-8);
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
}

.confirmationText {
	color: var(--mantine-color-gray-7);
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
}

.confirmationTextHighlight {
	font-weight: 500;
}

.actionButtonsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
