.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--mantine-spacing-md);
	height: 100%;
}

.innerContainer {
	display: flex;
	gap: var(--mantine-spacing-xs);
	height: 100%;
	align-items: center;
}

.refreshNowBtn {
	background: var(--mantine-color-white-0);
	padding: 0;
	margin-right: var(--mantine-spacing-xs);
	width: 36px;
	color: var(--mantine-color-gray-6);
	border: var(--mantine-sizes-px) var(--mantine-color-gray-2) solid;
}

.refreshNowBtn:hover {
	background: var(--mantine-color-gray-1);
}

.timeRangeContainer {
	display: flex;
}

.fixedRangeContainer {
	display: flex;
	flex-direction: column;
}

.fixedRangeBtn {
	color: var(--mantine-color-black);
	padding: var(--mantine-spacing-sm);
	font-size: var(--mantine-font-size-sm);
	background: var(--mantine-color-gray-0);
}

.fixedRangeBtn:first-of-type {
	border-top-left-radius: var(--mantine-radius-sm);
}

.fixedRangeBtn:last-of-type {
	border-bottom-left-radius: var(--mantine-radius-sm);
}

.fixedRangeBtn:hover {
	background: var(--mantine-color-gray-3);
}
.fixedRangeBtn:disabled {
	cursor: not-allowed;
	background: var(--mantine-color-brandPrimary-4);
	font-weight: 600;
	color: var(--mantine-color-white);
}

.customRangeContainer {
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
	min-width: 20rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.customTimeRangeFooter {
	display: flex;
	margin-top: auto;
	justify-content: end;
	align-items: center;
}

.searchContainer {
	display: flex;
	padding-right: var(--mantine-spacing-sm);
}

.searchTypeBtn {
	border: var(--mantine-sizes-px) var(--mantine-color-gray-1) solid;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background: var(--mantine-color-brandPrimary-0);
	color: var(--mantine-color-white-0);
	border-right: none;
	font-weight: var(--mantine-font-weight-semiBold);
	padding-right: var(--mantine-spacing-sm);
}

.searchTypeActive {
	background: var(--mantine-color-brandPrimary-0);
	font-weight: var(--mantine-font-weight-medium);
	color: var(--mantine-color-white-0);
}

.searchTypeActive:hover {
	background: var(--mantine-color-brandSecondary-0);
}

.searchInput {
	width: 100%;
	flex: 1;
}

.searchInput input {
	background: var(--mantine-color-white-0);
	border: var(--mantine-sizes-px) var(--mantine-color-gray-2) solid;
	border-radius: var(--mantine-radius-sm);
	font-weight: var(--mantine-font-weight-medium);
}

.searchInput input:hover {
	background: var(--mantine-color-gray-1);
}
