.container {
	height: '100%';
	width: '100%';
}
.aboutTitle {
	text-align: center;
}

.parseableText {
	color: var(--mantine-color-brand-secondary-0);
	font-weight: 600;
}

.aboutDescription {
	font-size: var(--mantine-font-size-sm);
	text-align: center;
	color: var(--mantine-color-gray-6);
	margin-top: var(--mantine-spacing-sm);

	&::after {
		content: '';
		border-radius: var(--mantine-radius-md);
		display: block;
		background-color: var(--mantine-color-brandSecondary-4);
		width: rem(100px);
		height: rem(2px);
		margin-top: var(--mantine-spacing-sm);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: var(--mantine-spacing-sm);
	}
}

.aboutTextBox {
	margin-top: var(--mantine-spacing-md);
	margin-bottom: var(--mantine-spacing-md);
	width: 100%;
	display: flex;
	border-radius: var(--mantine-radius-md);
	border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
	padding: var(--mantine-spacing-md);
	flex-direction: column;
}

.aboutTextInnerBox {
	display: flex;
	width: 100%;
	align-items: center;
	margin-top: var(--mantine-spacing-xs);
	margin-bottom: var(--mantine-spacing-xs);
}

.aboutTextKey {
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-gray-8);
	line-height: normal;
	width: 15%;
}

.aboutTextValue {
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-gray-6);
	line-height: normal;
	width: 85%;
}

.actionBtn {
	color: var(--mantine-color-brandPrimary-4);
	border-radius: var(--mantine-radius-md);
	border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
	position: absolute;
	right: var(--mantine-spacing-xl);
	transition: transform 0.2s ease-in-out;

	&:hover {
		transform: scale(1.03);
		color: var(--mantine-color-brandSecondary-4);
		background-color: var(--mantine-color-white);
	}
}

.actionBtnRed {
	color: rgb(224, 49, 49);
	border-radius: var(--mantine-radius-md);
	border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
	position: absolute;
	right: var(--mantine-spacing-xl);
	transition: transform 0.2s ease-in-out;

	&:hover {
		color: green;
		transform: scale(1.03);
		border-color: green;
		background-color: var(--mantine-color-white);
	}
}

.helpTitle {
	font-size: var(--mantine-font-size-md);
	text-align: center;
	color: var(--mantine-color-gray-7);
	font-weight: var(--mantine-font-weight-bold);
}

.HelpIconBox {
	&:hover {
		color: var(--mantine-color-brandSecondary-4);
		transform: scale(1.4);
	}
	height: 34px;
	transition: transform 0.2s ease-in-out;
	width: 34px;
	padding: 0px;
	margin-inline-end: var(--mantine-spacing-xs);
	background-color: var(--mantine-color-white);
	color:  var(--mantine-color-gray-7);
	border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.helpIconContainer {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}
