.correlationWrapper {
	flex: 1;
	display: flex;
	position: relative;
	width: 100%;
}

.correlationSideBarWrapper {
	width: 230px;
	border-right: 1px solid #dee2e6;
	padding: 14px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.streamWrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 12px;
	border-radius: 8px;
	gap: 12px;
}

.streamNameWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.streamName {
	font-size: 14px;
	font-weight: bold;
	color: #9f1239;
}

.fieldsWrapper {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fieldItem {
	width: 100%;
	border-radius: 4px;
	padding: 6px;
	height: 24px;
	align-items: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}

.noStreamsWrapper {
	height: 50%;
	border-radius: 8px;
	border: 1px dashed grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.addStreamPlaceholder {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 50px;
}
