.container {
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.correlationWrapper {
	flex: 1;
	display: flex;
	position: relative;
	width: 100%;
}

.correlationSideBarWrapper {
	width: 240px;
	border-right: 1px solid #dee2e6;
	padding: 14px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.streamInput {
	cursor: pointer;
	border-radius: rem(8px);
}

.streamSelectDescription {
	font-size: 12px;
	font-weight: 500;
}

.streamBox {
	display: flex;
	flex-direction: column;
	gap: 14px;
	height: calc(100vh - 220px);
}

.streamWrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 12px;
	border-radius: 8px;
	gap: 12px;
	flex-shrink: 0;
}

.streamNameWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.streamName {
	font-size: 14px;
	font-weight: bold;
	color: #9f1239;
}

.fieldsWrapper {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fieldItem {
	width: 100%;
	border-radius: 4px;
	padding: 6px;
	height: 24px;
	align-items: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}

.fieldItemText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 80%;
}

.noStreamsWrapper {
	height: 50%;
	border-radius: 8px;
	border: 1px dashed grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.logoContainer {
	object-fit: contain;
}

.addStreamPlaceholderWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70%;
	width: 100%;
	gap: 24px;
}

.addStreamPlaceholder {
	font-size: 20px;
	color: #212529;
}

.selectionWrapper {
	overflow-y: scroll;
	width: 100%;
	max-height: calc(100vh - 40px);
}

.topSectionWrapper {
	justify-content: center;
	padding: 10px;
	border-bottom: 1px solid #dee2e6;
}

.fieldsJoinsWrapper {
	display: flex;
	gap: 14px;
	align-items: center;
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}

.fieldItemsWrapper {
	width: 100%;
	height: 36px;
}

.fieldsPillsWrapper {
	width: 100%;
	height: 36px;
	border-radius: 5px;
	display: flex;
	gap: 10px;
	padding: 5px 10px;
}

.joinsWrapper {
	width: 100%;
	height: 36px;
	border-radius: 5px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.logTableControlWrapper {
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px;
	height: 100%;
}

.logsSecondaryToolbar {
	border-bottom: 1px solid var(--mantine-color-gray-3);
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.graphContainer {
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	padding-bottom: 1rem;
	margin-left: -1.4rem;
}

.noDataContainer {
	width: 98%;
	height: 100%;
	align-items: center;
	justify-content: center;
	border: 1px dashed var(--mantine-color-gray-4);
}

.noDataText {
	text-align: center;
	color: var(--mantine-color-gray-6);
	font-size: var(--mantine-font-size-sm);
}
