.savedCorrelationsBtn {
	background-color: white;
	color: var(--mantine-color-gray-7);
	border: 1px #e9ecef solid;
	border-radius: rem(8px);
	font-size: 0.65rem;
	font-weight: 500;
	&:hover {
		color: black;
	}
}

.savedCorrelationsBtn:hover {
	background-color: #e0e0e0;
}
