.savedFiltersBtn {
	background-color: white;
	color: var(--mantine-color-gray-7);
	border: 1px #e9ecef solid;
	border-radius: rem(8px);
	/* font-size: 0.65rem;*/
	@media (min-width: 1024px) {
		/* sm: Styles for HD devices */
		font-size: 10px;
	}

	@media (min-width: 1980px) {
		/* md: Styles for FULL HD devices */
		font-size: 12px;
	}

	@media (min-width: 1600px) {
		/* lg: Styles for 2K devices */
		font-size: 14px;
	}

	@media (min-width: 2160px) {
		/* xl: Styles for 4K devices */
		font-size: 18px;
	}

	@media (min-width: 3200px) {
		/* 2xl: Styles for 8K devices */
		font-size: 24px;
	}
	&:hover {
		color: black;
	}
}

.savedFiltersBtn:hover {
	background-color: #e0e0e0;
}
