.labelBtn {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0.625rem 1rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.labelBtn:hover {
    background-color: #E0E0E0
}

.labelIcon {
    color: #adb5bd;
    margin-left: 0.625rem;
}

.labelIconActive {
    color: #545beb;
}

.searchInputStyle {
    margin-bottom: 0.625rem;
}

.filterText {
    display: flex;
    align-items: center;
    color: #211F1F;
    padding: 0;
    cursor: default;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 400;
}

.checkBoxStyle {
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    border-radius: 4px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    width: 18rem;
    text-overflow: ellipsis;
}

.checkBoxStyle .mantine-Checkbox-label {
    font-size: 0.875rem;
}

.checkBoxStyle:hover {
    background-color: #f8f9fa;
    color: #fc466b;
}

.applyBtn {
    margin-top: 0.625rem;
    width: 100%;
    background-color: #545beb;
}

.applyBtn:disabled {
    background-color: var(--mantine-color-gray-3);
}


.applyBtn:disabled:hover {
    background-color: var(--mantine-color-gray-3);
}

.applyBtn:hover {
    background-color: #1f288e;
}

.sortBtn {
    display: flex;
    align-items: center;
    color: #211F1F;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: white;
}

.sortBtn:hover {
    color: #fc466b;
}

.sortBtnActive {
    display: flex;
    align-items: center;
    color: #545beb;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: white;
}

.sortBtnActive:hover {
    color: #fc466b;
}
