.labelBtn {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0.625rem 1rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.labelBtn:hover {
    background-color: #E0E0E0
}

.labelIcon {
    color: #adb5bd;
    margin-left: 0.625rem;
}

.labelIconActive {
    color: #545beb;
}

.searchInputStyle {
    margin-bottom: 0.625rem;
}

.filterText {
    display: flex;
    align-items: center;
    color: #868e96;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 300;
    cursor: default;
}

.checkBoxStyle {
    height: 35px;
    padding-top: 0.625rem;
    padding-bottom: 0.3125rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
}

.checkBoxStyle .mantine-Checkbox-label {
    font-size: 0.875rem;
}

.checkBoxStyle:hover {
    background-color: #f8f9fa;
    color: #fc466b;
}

.applyBtn {
    margin-top: 0.625rem;
    width: 100%;
    background-color: #545beb;
}

.applyBtn:hover {
    background-color: #1f288e;
}

.sortBtn {
    display: flex;
    align-items: center;
    color: #211F1F;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 400;
}

.sortBtn:hover {
    color: #fc466b;
}

.sortBtnActive {
    display: flex;
    align-items: center;
    color: #545beb;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 500;
}

.sortBtnActive:hover {
    color: #fc466b;
}
