
.streamSelectDescription {
	font-size: 12px;
	font-weight: 500;
	color: var(--mantine-color-gray-6);
}

.streamInput {
	border: none;
	padding-left: 0;
	padding-right: 30;
	height: 50px;
	font-size: 24px;
	font-weight: 600;
	margin-top: -10px;
	background-color: transparent;
	cursor: pointer;
	width: 200px;
}

.chevronDown {
	color: var(--mantine-color-gray-9);
}

.streamSelect {
	margin-left: 0.625rem;
}

.logsPrimaryToolbar {
	padding: 0.625rem 0;
	border-bottom: 1px solid var(--mantine-color-gray-3);
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logsSecondaryToolbar {
	width: '100%';
	flex-direction: row;
	padding: 1rem 0.625rem;
}