.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	height: 3rem;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	gap: 0.5rem;
}
